<!DOCTYPE html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="description" content="Capisci Linked Tables">
	<meta name="keywords" content="HTML,CSS,JavaScript">
	<meta name="author" content="Moriah Sella">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="side_bar">
		<img v-bind:src="url_side_bar" />
	</div>
	<div class="top_menu">
		<img v-bind:src="url_menu" />
	</div>
	<div class="container">
		<div class="headers">
			<h4 class="title">{{ tables_title | uppercase }}</h4>
			<h4 class="office">{{ office | uppercase }}</h4>
		</div>
		<div class="info_table">
			<span>{{table1_name}}</span>
			<span>{{table2_name}}</span>
		</div>
<!---Table1 -->
		<table id="table1" border="0" cellspacing="0" cellpadding="5px">
			<thead>
				<tr>
					<th class="select">
						<input type="checkbox" id="checkbox" v-model="selectedStatus">Select All</th>
					<th class="items">Items ({{visibleUnlinkedItems.length}})</th>
				</tr>
			</thead>
			<tbody>
				<tr>
		            <td colspan="2">
			        <div class="scrollIt">
				    <table border="0" cellspacing="0" cellpadding="5px">
				<tr class="row" v-for="(index, item) in unlinkedItems" v-on:click="selectItem(index)" :class="{'white': $index % 2 === 0, 'grey': $index % 2 !== 0 }">
					<td v-if="item.visible"><div class="box"><span :class="{selected: item.status}"></span></div></td>
					<td v-if="item.visible">{{ item.name }} : {{index}} : {{item.status}}</td>
				</tr>
				    </table>
			        </div>
		            </td>
				</tr>
			</tbody>
		</table>
<!--Buttons -->
	<div class="btns">
		<button class="btn clear" @click="addItems()" v-if="unlinkedItems > newItems">ADD&blacktriangleright;</button>
		<button class="btn2 clear" @click="removeItems()" v-if="newItems != 0">&blacktriangleleft;REMOVE</button>
	</div>
<!---Table2 -->
		<table id="table2" border="0" cellspacing="0" cellpadding="5px">
			<thead>
				<tr>
					<th class="select">
						<input type="checkbox" id="checkbox" >Select All</th>
					<th class="items">Items ({{newItems.length}})</th>
				</tr>
			</thead>
			<tbody>
				<tr>
		            <td colspan="2">
			        <div class="scrollIt">
				    <table border="0" cellspacing="0" cellpadding="5px">
				<tr class="row" v-for="(index,newItem) in newItems" v-on:click="removeItem(index)" :class="{'white': $index % 2 === 0, 'grey': $index % 2 !== 0 }">
					<td v-if="newItem.visible"><div class="box"><span :class="{selected: newItem.status}"></span></div></td>
					<td v-if="newItem.visible">{{newItem.name}} : {{index}} : {{newItem.status}}</td>
				</tr>
					</table>
			       </div>
		           </td>
				</tr>
			</tbody>
		</table>
	</div>

<!-- JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://unpkg.com/underscore@1.8.3"></script> <!-- undescore import -->
<script type="text/javascript" src="app.js"></script>
</body>
</html>