body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
  margin: auto;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1em;

}
.clear{
	clear:both;
}
.side_bar{
	position: absolute;
	top:0;
	left:0;
}
.top_menu{
	position: absolute;
	top:0;
	left:271px;
}
.container{
	position: relative;
	top: 152px;
	left: 271px;
	width: 600px;
	height: 450px;
	margin: 0 18px 0 18px;
	background-color: #ddebf4;
}
.headers{
	background-color: #fff;
	padding: 18px 0 18px 0;
}
h4{
	font-weight: 200;
	margin: 0;
}
h4.title{
	float: left;
}
h4.office{
	float:right;
}
.info_table{
	background-color: #5c9bcd;
	padding: 10px 40px 25px 20px;
}
.info_table span{
	color: #fff;
	font-size: 12px;
}
.info_table span:nth-child(1){
	float:left;
}
.info_table span:nth-child(2){
	float:right;
	margin: 0 80px 0 0;
}
.scrollIt{
	overflow: scroll;
	height: 320px;
}
#table1{
	padding: 0 10px 20px 20px;
	float: left;
}

#table1 thead tr .select{
	color: #5c9bcd;
	font-weight: 200;
	font-size: 9px;
	text-align: center;
	width: 65px;
	position: relative;
}
#table1 thead tr .select .box{
	border: 1px solid #5c9bcd;
	width: 8px;
	height: 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top:0;
	left:0;
	margin: 3px;
}
#table1 thead tr .items{
	color: #5c9bcd;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	width: 150px;
}

#table1 tbody tr.row{
	color: #808080;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	width: 150px;
	cursor: pointer;
}
#table1 tbody table{
	width: 225px;
}
#table1 tbody tr.row .box{
	border: 1px solid #5c9bcd;
	width: 8px;
	height: 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 3px;
	position: relative;
	left: 5px;
}
#table2{
	padding: 0 20px 20px 0px;
	float:right;
}
#table2 thead tr .select{
	color: #5c9bcd;
	font-weight: 200;
	font-size: 9px;
	text-align: center;
	width: 65px;
	position: relative;
}
#table2 thead tr .select .box{
	border: 1px solid #5c9bcd;
	width: 8px;
	height: 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top:0;
	left:0;
	margin: 3px;
}
#table2 thead tr .items{
	color: #5c9bcd;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	width: 150px;
}
#table2 tbody table{
	width: 225px;
}
#table2 tbody tr.row{
	color: #808080;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
	width: 150px;
	cursor: pointer;
}
#table2 tbody tr.row .box{
	border: 1px solid #5c9bcd;
	width: 8px;
	height: 8px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 3px;
	position: relative;
	left: 5px;
}
.selected:before{
  content:'\2713';
  display:inline-block;
  color:#5c9bcd;
  position: absolute;
  top:-3px;
  left:1px;
  font-size: 10px;
}
.white{
	background-color: #fff;
}
.grey{
	background-color: #f4f4f4;
}
input, button, submit
{
  border:none;
}
button:focus {
outline: 0;
box-shadow: none;
}
.btns{
	position: relative;
	top:auto;
	float: left;

}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 9px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  position: absolute;
  top:100px;
  left:-7px;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn2{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 9px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  top: 140px;
  left:-7px;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


